@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
@tailwind screens;

html {
  @apply bg-gray-100 font-medium
}

html,
body,
#__nuxt,
#__layout {
  @apply h-full
}

body {
  min-height: 100%;
}


a {
  @apply no-underline
}

h1 {
  @apply font-display text-4xl
}


.primary {
  @apply text-blue-400 fill-current;
}
.secondary {
  @apply text-blue-900 fill-current;
}

.nuxt-link-exact-active  .primary {
  @apply text-blue-400 fill-current;
}

.nuxt-link-exact-active  .secondary {
  @apply text-blue-900 fill-current;
}


.markdown > * + *,
.owl-y > * + * {
  @apply mt-4
}

.markdown h2 {
  @apply text-xl leading-tight mt-8
}

.markdown p {
  @apply text-blue-900 leading-normal
}

.markdown img {
  @apply rounded-lg
}

.markdown a:link,
.markdown a:visited,
.markdown a {
  @apply text-blue-600
}

.markdown a:focus,
.markdown a:hover {
  @apply text-blue-600 underline
}

.button {
  @apply bg-black text-white shadow rounded px-4 py-2 uppercase tracking-wide font-bold text-sm
}

.button:hover,
.button:active,
.button:focus {
  @apply bg-gray-900
}


.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}


.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-fastest {
  transition-duration: 75ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.transition-slow {
  transition-duration: 300ms;
}
.transition-slower {
  transition-duration: 500ms;
}
.transition-slowest {
  transition-duration: 700ms;
}

.transition-all {
  transition-property: all;
}
.transition-opacity {
  transition-property: opacity;
}
.transition-transform {
  transition-property: transform;
}

.focus-visible.focus-visible\:underline {
  text-decoration: underline;
}
